/* debug */

[class*="col"] {
    background-color: blue;
    color: white;
    padding: 20px 0;
    border: 1px solid white;
    text-align: center;
}

.green {
    background-color: lightgreen;
    color: white;
    padding: 20px 0;
    border: 1px solid blue;
    text-align: center;
}

.row .col-6.row {
    padding: 20px;
}

section {
    padding: 10px 0;
}